.carousel-control-left {
    margin-left: -45px !important;
}

.carousel-control-right {
    margin-right: -45px !important;
}

.welcome-message {
    color: #00aced;
    padding-top: 15px;
    padding-bottom: 15px;
}

.username {
    color: #00aced;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table td {
    text-align: center;
}

.top-buffer {
    margin-top: 20px;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.social-bar {
    position: fixed !important;
    z-index: 9999;
    margin-right: 20px;
    margin-top: 50px;
    right:0;
    width: 75px;
}

.social-fb-bar {
    margin: 0 auto;
    width: 30px;
}

.social-goo-bar {

}
