.carousel-control-left {
    margin-left: -45px !important;
}

.carousel-control-right {
    margin-right: -45px !important;
}

.welcome-message {
    color: #00aced;
    padding-top: 15px;
    padding-bottom: 15px;
}

.username {
    color: #00aced;
    padding-top: 15px;
    padding-bottom: 15px;
}

.table td {
    text-align: center;
}

.top-buffer {
    margin-top: 20px;
}
