<div class="container-fluid">
    <h3>{{section | capitalize}} Listing</h3>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Subcategory Name</th>
                <th>Subcategory Type</th>
                <th>Category</th>
                <th>Image</th>
                <th>Carousel Images</th>
                <th>Main Subcategory</th>
                <th>Price</th>
                <th>Color</th>
                <th>Order</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="edit($event,entity)" ng-repeat="entity in entities.subcategory">
                <td>{{entity._id}}</td>
                <td>{{entity.name}}</td>
                <td>{{entity.type}}</td>
                <td>{{entity.parentCategory}}</td>
                <td><img ng-src="{{entity.imageUri}}" class="img-rounded" width="152" height="118" ng-if="entity.imageUri"></td>
                <td>
                    <div ng-repeat="image in entity.carouselImages">
                        <img ng-src="{{image}}" class="img-rounded" width="76" height="58" ng-if="image">
                    </div>
                </td>
                <td>{{entity.mainCategory}}</td>
                <td>{{entity.price}}</td>
                <td>{{entity.color}}</td>
                <td>{{entity.order}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <nav>
        <ul class="pagination hidden">
            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
        </ul>
    </nav>

    <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text">Are you sure you want to delete this category?</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
    </div>
</div>

