<div class="container">

    <!-- Page Header -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Converse Vans Buôn Ma Thuột
                <small>{{name}} </small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row" ng-repeat="displayShoe in displayShoes">
        <div class="col-md-3 portfolio-item" ng-repeat="shoe in displayShoe">
            <a href="#/shoes?brand={{type}}&shoesId={{shoe.id}}">
                <img class="img-responsive" ng-src="{{shoe.imageUrl}}" alt="">
                <h3>
                    {{shoe.name}}
                </h3>
            </a>
            <p>Giá : {{shoe.price}}</p>
            <p>Màu sắc : {{shoe.color}} </p>
            <p>Chất liệu : {{shoe.material}} </p>
        </div>
    </div>
    <!-- /.row -->

</div>