<div class="col-md-9">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <ul class="pgwSlideshow">

                <li><img src="https://farm1.staticflickr.com/624/21416496774_72be83fdc3_o.jpg" alt="Converse Black"></li>
                <li><img src="https://farm6.staticflickr.com/5775/21851140740_3a7400d27a_o.jpg" alt=""></li>
                <li><img src="https://farm1.staticflickr.com/728/21418162823_b20cb48dd3_o.jpg" alt=""></li>
                <li><img src="https://farm6.staticflickr.com/5646/22039286185_82abece979_o.jpg" alt=""></li>
                <li><img src="https://farm1.staticflickr.com/655/22049331291_07ab6d7ffa_o.jpg" alt=""></li>
                <li><img src="https://farm1.staticflickr.com/550/19091660886_bc430653bf_o.jpg" alt=""></li>
            </ul>
        </div>
    </div>
</div>

