<div class="row">

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="lowtop.html"><img src="https://farm6.staticflickr.com/5820/23084374466_95a4ca65b0_o.jpg" alt="">
                <div class="caption">

                    <h4><a href="lowtop.html">Lowtop</a>
                    </h4>
                    <p>Chuck Taylor Classic </p>
                    <p>Thấp cổ </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">54 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="hightop.html"><img src="https://farm6.staticflickr.com/5653/22692049238_c143ec0b89_o.jpg" alt="">
                <div class="caption">

                    <h4><a href="hightop.html">Hightop</a>
                    </h4>
                    <p>Chuck Taylor Classic</p>
                    <p>Cao cổ </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">49 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="vans.html"> <img src="https://farm6.staticflickr.com/5783/23110467335_4a2cb69882_o.jpg" alt="">
                <div class="caption">

                    <h4><a href="vans.html">Vans </a>
                    </h4>
                    <p>Vans Authentic </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">40 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="nike.html"><img src="https://farm1.staticflickr.com/637/23096633022_653383d583_o.jpg" >
                <div class="caption">

                    <h4><a href="nike.html">Nike </a>
                    </h4>
                    <p>Nike Airmax , Airthea , AirForce 1 </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">39 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
        </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="chuck.html"><img src="https://farm1.staticflickr.com/588/22487709574_5839fdaca1_o.jpg" >
                <div class="caption">

                    <h4><a href="chuck.html">Chuck Taylor II</a>
                    </h4>
                    <p>Converse Chuck Taylor II</p>
                </div>
                <div class="ratings">
                    <p class="pull-right">78 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a href="adidas.html"><img src="https://farm1.staticflickr.com/648/22489227553_a39092019b_o.jpg" >
                <div class="caption">

                    <h4><a href="adidas.html">Adidas</a>
                    </h4>
                    <p>Super Star , StanSmith , Zx </p>
                </div>
                <div class="ratings">
                    <p class="pull-right">26 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </p>
                </div>
        </div>
    </div>
</div>