<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<span class="copyright">Địa chỉ : 10 Dương Vân Nga Tp Buôn Ma Thuột</span>
				<p> Hotline: 0987610281</p>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					<li><a href="#"><i class="fa fa-twitter fa-4x"></i></a>
					</li>
					<li><a href="https://www.facebook.com/giayconversebmt"><i class="fa fa-facebook-square fa-4x"></i></a>
					</li>
					<li><a href="#"><i class="fa fa-linkedin fa-4x"></i></a>
					</li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="list-inline quicklinks">
					<li><a href="#">Since 2015</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
</footer>

<div data-my-ad-sense>
    <!-- conversebmt -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-4628484331172898"
         data-ad-slot="2516530566"
         data-ad-format="auto"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>