<div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="entity in entities.category | orderBy : 'order'">
        <div class="thumbnail">
            <a href="/index?section=subcategory&id={{entity._id}}"><img ng-src="{{entity.imageUri}}"
                                                 alt="" /></a>

            <div class="caption">

                <h4><a href="/index?section=subcategory&id={{entity._id}}">{{entity.name}}</a>
                </h4>

                <p>{{entity.description}} </p>

                <p>{{entity.extraDescription}}</p>
            </div>
            <div class="ratings">
                <p class="pull-right">{{entity.meta.numberReviews}} reviews</p>

                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>
</div>