<div class="container">
    <form class="form-horizontal" autocomplete="off" method="POST">
        <fieldset>

            <!-- Form Name -->
            <legend>{{section | capitalize}} Creation & Update</legend>

            <input type="hidden" id="id" ng-model="entity.id" value="{{entity._id}}" />

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="entity_name">Category Name</label>
                <div class="col-md-5">
                    <input id="entity_name" name="entity_name" type="text" ng-model="entity.name" ng-change="change()" placeholder="Converse, Nike, Adidas ..." class="form-control input-md" required>

                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="entity_type">Category Type</label>
                <div class="col-md-5">
                    <input id="entity_type" name="entity_type" type="text" ng-model="entity.type" ng-change="change()" placeholder="High Top, Low Top ..." class="form-control input-md">

                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="image_uri">Image URI</label>
                <div class="col-md-5">
                    <input id="image_uri" name="image_uri" type="text" ng-model="entity.imageUri" ng-change="change()" placeholder="Enter image uri here" class="form-control input-md">

                </div>
            </div>

            <!-- Multiple Checkboxes -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="main-entity">Is Main Category</label>
                <div class="col-md-4">
                    <div class="checkbox">
                        <label for="main-entity-0">
                            <input type="checkbox" name="main-entity" ng-model="entity.mainCategory" ng-change="change()" id="main-entity-0" value="1">
                            Yes
                        </label>
                    </div>
                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="rating">Average Rating</label>
                <div class="col-md-2">
                    <input id="rating" name="rating" type="text" ng-model="entity.meta.averageRating" ng-change="change()" placeholder="4 or 5*" class="form-control input-md">

                </div>
            </div>

            
            <div class="form-group">
                <label class="col-md-4 control-label" for="review"></label>
                <div class="col-md-2">
                    <input id="review" name="review" type="text" ng-model="entity.meta.numberReviews" ng-change="change()" placeholder="# review" class="form-control input-md">

                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-4">
                    <textarea class="form-control" id="description" ng-model="entity.description" ng-change="change()" name="description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="order"></label>
                <div class="col-md-2">
                    <input id="review" name="review" type="text" ng-model="entity.order" ng-change="change()" placeholder="order" class="form-control input-md">

                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4">  </label>
                <div class="col-md-4">
                    <span class="text-success">{{result.successMessage}}</span>
                    <span class="text-danger">{{result.errorMessage}}</span>
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="submit"></label>
                <div class="col-md-8">
                    <button class="btn btn-primary" ng-click="submit()">{{inputdata.submitButtonName}}</button>
                    <button class="btn btn-primary" ng-click="reset()">Reset</button>
                    <button class="btn btn-danger" ng-click="delete()" ng-if="entity._id">Delete</button>

                </div>
            </div>

        </fieldset>
    </form>
</div>


