<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Converse Buôn Ma Thuột</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/pgwslideshow.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script src="js/jquery.js"></script>

</head>

<body ng-app="converseBMT">
    <script src="js/pgwslideshow.js"></script>

    <!-- AngularJS definition -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/shoes-controller.js"></script>

    <!-- Navigation -->
    <div ng-include="'partials/header.html'"></div>
    <div class="container">
        <div class="row">
            <div ng-include="'partials/sidebar.html'"></div>
            <div ng-include="'partials/pgwSlideshow.html'"></div>
        </div>
    </div>
    <hr>

    <div ng-include="'partials/footer.html'"></div>
</body>

</html>
